// Fix for copy to clipboard button overflow issue on smaller screens
body .popup-box .profile-popup .input-read-only button#copy-btn {
    height: auto !important;
    min-height: 100%;
    margin: 0;
    background: transparent;
}

.span-message{
  @media (max-width: 767px) {
    float: right;
    position: absolute;
  }
}