.gallery-img{
  cursor: pointer;
}
.product-information,
.product-image {
  float: left;
}

.product-information {
  width: 35%;
  margin: 0;
  overflow-y: scroll;
  height: 500px;
  background: #fff;
  padding-top: 20px;
}

.product-image {
  width: 65%;
  height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.product-image img {
  /*    width:100%;*/
  height: 100%;
}

.cross {
 position: fixed;
 top: 2%;
 right: 4%;
 font-size: 25px;
 font-weight: normal;
 color: #fff;

 /* Landscape tablets and medium desktops */
 @media (max-width: 1024px) {
  position: fixed;
  top: 7%;
  right: 26px;
  font-size: 25px;
  font-weight: normal;
  color: #fff;
}



}

.gallery-nav-btns {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 40px;
  margin-top: -25px;
}

.gallery-nav-btns a {
  display: block;
  position: absolute;
  width: 35px;
  height: 80px;
  text-align: center;
  right: 0;
  background-image: url("../images/slim-arrow-sprite.png");
  background-repeat: no-repeat;
  opacity: 0.8;
  cursor: pointer;
}

.gallery-nav-btns a:hover {
  opacity: 1;
}

.nav-btn.prev {
  left: 0;
  background-position: 0px 0px;
}

.nav-btn.next {
  right: 0;
  background-position: -35px 0px;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  #productSidebar {
    width: 17%;
    width: calc(13em);
  }
  #productMasterSidebar {
    width: 15%;
    width: calc(13em);
  }
  .product-profilepage-container {
    width: 81%;
  }
  #ad-panel-right {
    width: 14%;
    width: calc(10em);
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1360px) {
  #productSidebar {
    width: 17%;
    width: calc(17em);
  }
  #productMasterSidebar {
    width: 15%;
    width: calc(15em);
  }
  #ad-panel-right {
    width: 14%;
    width: calc(13em);
  }
}

@media only screen and (min-width: 1361px) {
  #productWrapper {
    width: 1320px;
  }
}

.popup-overlay {
  background-color: rgba(68, 68, 68, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  z-index: 10000001;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.product-gallery-popup .product-popup-content {
 position: absolute;
 width: 93%;
 height: 500px;
 left: 50%;
 margin-left: -47%;
 position: relative;
 top: 8%;
 background-color: #000;
 overflow: hidden;
 margin-bottom: 100px;

 /* Portrait tablets and small desktops */
 @media (min-width: 768px) and (max-width: 991px) {
  height: 500px;
}

}
.img-info {
  display: none;
}

.product-information{
  i.icon-star {
    background: #c4c4c3;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 1px 0px 0px 0px;
    margin: 0;
    border-radius: 2px;
    border-bottom: 1px #8d8e8d solid;
    width: 13px;
    height: 14px;
    margin-left: -2px;
    top: -1px;
    vertical-align: middle;
  }
  i.icon-star:hover {
    cursor: pointer;
    background: #feda47;
  }
  .icon-star::before {
    content: "a";
    display: block;
    text-indent: -9999px;
    background: url(../images/bg-star.svg) no-repeat center -1px;
    width: 13px;
    height: 14px;
  }
  i.icon-star.active {
    cursor: pointer;
    background: #feda47;
  }
  i.icon-star.active:hover {
    background: #c4c4c3;
  }
  .ps-profile{
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
  }
  .comment-type-area{
    margin-bottom: 20px;

    textarea{
     margin: 0;
     padding: 8px 10px;
     display: block;
     width: 100%;
     font-size: 17px;
     line-height: 1.0;
     color: #3d3d3d;
     resize: none;
     border: 3px solid #999999;
     outline: none;
     border-top-right-radius: 6px;
     border-top-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-left-radius: 6px;
     border-bottom-left-radius: 6px;
     border-top-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-top-right-radius: 6px;
   }
 }
 .profile{
  .pro-text2{
    background: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: url(../images/pro-text.svg) no-repeat left top;
    width: 29px;
    height: 18px;
    display: inline-block;
    margin-right: 0;
    text-indent: -9999px;
    background-size: 100%;
    vertical-align: middle;
  }
}
.child-list{
  padding-left: 17px;
}
.remove-comment{
 position: absolute;
 top: 25px;
 right: -8px;
}

.quote-title-area{
  font-weight: bold;
  display: block;
}
.content-text-area{
  p{
    font-size: 14px;
  }
}
.social-icons{
  li{
    a{
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
}
// information-area
.social-icons{
  width: 100%;
  text-align: center;
  ul{
    width: 100%;
    padding: 0;
    li{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 13px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}