// .modal.in{
// 	@media screen and (max-width: 767px){
// 		overflow-y: hidden !important;
// 	}
// }
.hoapa-navbar-brand{
	background: url("../images/logo.png") no-repeat;
	display: inline-block;
	font-size: 0;
	width: 160px;
	height: 49px;
	margin: 0 !important;
	padding: 0;
	background-size: 100%;
}
.modal-dialog {
	background-color: #fff;
	top: 92px;
	width: 700px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 15px;
	border-radius: 6px;
	margin: 0 auto;
	@media screen and (max-width:767px){
		width: 100%;
		min-height: 100vh;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		border-radius: 0;
	}
	.close{
		position: absolute;
		top: -30px;
		right: -25px;
		@media screen and (max-width: 767px){
			top: 0;
			right: 0;
		}
	}
	.hoapa-modal-heading{
		font-size: 24px;
		color: #91c11e;
	}
	p{
		font-size: 18.45px;
		line-height: 1.9;
		&.hoapa-error-message{
			color:#ff0000; 
			line-height: 1.0;
			margin-top: 6px;
		}
		&.privacy-policy-message{
			line-height: 1.2;
			margin-top: 6px;
			font-size: 14px;
		}
	}
}

.modal-content {
	position: relative;
	background-color: #fff;
	border: 0; 
	border: 0;
	border-radius: 6px;
	box-shadow: none;
	background-clip: padding-box;
	outline: 0;
}


.hoapa-popup-post-btn{
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 21px;
	border: none;
	border-radius: 5px;
	width: 75%;
	padding: 20px;
	outline: none;
	background: #ff7519;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

.social-long{
	&-btn{
		display: block;
		margin-right: 0;
		text-align: left;
		overflow: hidden;
		border: 0;
		color: #fff;
		font-size: 17px;
		line-height: normal;
		padding-right: 10px;
		position: relative;
		text-align: left;
		padding: 15px;
		margin: 10px;
		border-radius: 3px;
		font-size: 21px;
		font-weight: bold;
		padding-left: 34.43%;
		@media screen and (max-width: 480px){
			padding-left: 24.43%;
		}
		@media screen and (max-width: 767px){
			margin: 15px 0;
		}

		&:hover, &:active, &:focus, &.active{
			color: #fff;
			text-decoration: none;
		}
		&.facebook {
			background-color: #255c95;
			&:before{
				content: url("../images/social-long-icons/fb.png");
				padding: 9px;
				text-indent: 0;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&.twitter {
			background-color: #00b4e0;
			&:before{
				content: url("../images/social-long-icons/twitter.png");
				padding: 9px;
				text-indent: 0;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&.gplus {
			background-color: #f1403a;
			&:before{
				content: url("../images/social-long-icons/gplus.png");
				padding: 9px;
				text-indent: 0;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&.email {
			background-color: #a8a8a8;
			&:before{
				content: url("../images/social-long-icons/email.png");
				padding: 9px;
				text-indent: 0;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}	
}
.social-long-condenced{
	margin: 5px 0;
}
.no-padding-lr{
	padding-left: 0;
	padding-right: 0;
}
.modal-small{
	width: 490px;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}
.modal-big{
	width: 970px;

	@media screen and (max-width: 992px){
		width: 750px;
	}
	@media screen and (max-width: 767px){
		width: 100%;
	}
}
.modal-input-field{
	margin: 10px 0;
	.hoapa-textfield, .hoapa-textarea{
		width: 100% !important;
		margin:0;
		padding: 0 4px 0 16px;
		line-height: 1.6;
	}
	.bootstrap-select.subject-btn .btn-info {
		padding-right: 40px;
		padding-top: 5px;
		.bs-caret{
			display: none;
		}
	}
}

.hoapa-modal-save-btn{
	float: right;
	width: 49%;
	font-size: 21px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 16px 0;
	color: #ffffff;
	border: none;
	outline: none;
	background-color: #94c435;
	border-radius: 5px;
	background-clip: padding-box;
	@media screen and (max-width: 767px){
		width: 100%;
		float: left;
		background-color: #fe6519;
	}
}
.hoapa-modal-cancel-btn{
	float: right;
	text-align: right;
	margin-right: 15px;
	width: 46%;
	font-size: 21px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding: 9px 0;
	color: #ffffff;
	border: none;
	outline: none;
	background-color: #94c435;
	border-radius: 5px;
	background-clip: padding-box;
	float: left;
	background: transparent;
	color: #000;
	@media screen and (max-width: 767px){
		width: 100%;
		float: right;
		margin-right: 0;
		text-align: center;
	}
}

.modal-dialog{
	.panel-group{
		margin-bottom: 15px;
	}	
}

.panel-green{
	border: 0;
	box-shadow: none;
	.panel-heading{
		background-color: #94c435;
		padding: 10px 25px;
		border-radius: 5px;
		position: relative;
		>a{
			display: block;
			color: #fff;
			font-size: 21px;
			&:hover, &:active, &:focus{
				color: #fff;
				text-decoration: none;
			}
			>.fa.pull-right{
				@media screen and (max-width: 767px){
					position: absolute;
					right: 10px;
					top: 12px;
				}
			}
		}
	}
	.panel-body{
		padding: 10px 25px;
		border: 0;
		border: 0 !important;
		p{
			font-size: 17px;
		}
	}
}
.faq-heading{
	margin-bottom: 20px;
}
.text-center-xs{
	@media screen and (max-width: 767px){
		text-align: center;
	}
}







.popup-set-find .word-btn{
	&:hover {
		background: #94c435;
		cursor: pointer;
		.label{
			color: #fff;
		}
	}
	text-align: center;
	.roundedone {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 0;
		float: none;
		background: #fff !important;
		border-radius: 50px;
		box-shadow: none;
		right: 0;
		display: inline-block;
		top: 0;
		border: 1px solid black;
	}
}
.popup-set-find .word-btn .roundedone input[type=radio] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 999;
	cursor: pointer;
}

.popup-set-find .hire-btn .roundedtwo {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0;
	float: none;
	background: #fff !important;
	border-radius: 50px;
	box-shadow: none;
	right: 0;
	display: inline-block;
	top: 0;
	border: 1px solid black;
}
.popup-set-find .hire-btn .roundedtwo input[type=radio] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 999;
	cursor: pointer;
}

.popup-set-find .word-btn .label{
	display: block;
	padding: 0;
	font-size: 35px;
	color: #3d3d3d;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding-right: 10px;
	padding: 0;
	margin-bottom: 8px;
}

.hoapa-work-hire-popup{
	width: 299px;
	margin: 0 auto;
	padding: 0;
	top: 0;
	height: auto;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

.popup-set-find .word-btn .roundedone label:after, .popup-set-find .word-btn .roundedone div:after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: #94c435;
	background: -webkit-linear-gradient(top, #94c435 0%, #94c435 100%);
	background: linear-gradient(top, #94c435 0%, #94c435 100%);
	opacity: 0;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.modal-input-field{
	.characters-counter-bottom{
		right: 0;
	}
	.input-description{
		font-size: 17.7px;
		font-weight: 300;
		color: #9c9d9e;
		margin-top: 5px;
		padding-left: 5px;
		margin-left: 30px;
		display: inline-block;
		float: left;
		margin-left: 0;
		label{
			font-weight: normal;
		}
	}
}


// landing page popup styles

.hoapa-popup-categories{
	> a{
		width: 174px;
		display: inline-block;
		border: 2px solid transparent;
		padding: 8px 2px;
		vertical-align: middle;
		text-decoration: none;
		font-size: 14px;
		margin: 0;
		text-align: center;
		font-weight: bold;
		color: #3b3b3b;
		&:hover{
			border: 2px solid #94c435;
			border-radius: 5px;
		}
		>img{
			max-width: 100%;
		}
	}
}

// Special offer popup styles
.special-offer-content{
	.offer-details{
		.share-to-get{
			font-size: 20px;
			font-weight: 600;
			color: #3d3d3d;
			display: inline-block;
			vertical-align: bottom;
		}
		.trial-duration{
			font-size: 27px;
			font-weight: bold;
			color: #3d3d3d;
			display: inline-block;
			vertical-align: middle;
		}	
	}
}
.instead-container{
	margin: 14px;
	h3{
		font-weight: bold;
		font-size: 20px;
	}
	span{
		font-weight: bold;
		font-size: 13px;
	}
	.Hurry-up{
		h3{
			margin: 0;
		}
	}
}
.instead-set-text{
	h6{
		font-size: 14px;
		color: #3d3d3d;
		margin: 0;
	}
	h2{
		font-size: 27px;
		margin: 0;
		font-weight: bold;
	}
}
.bonus-symbol{
	background: url("../images/bonus.svg") no-repeat;
	width: 316px;
	height: 202px;
	margin: 15px auto;
	@media screen and (max-width: 360px){
		width: 100%;
	}
	h1{
		margin: 0;
		text-transform: capitalize;
		font-size: 50px;
		color: #ffffff;
		font-weight: bold;
		padding-top: 70px;
		-webkit-transform: rotate(-15deg);
		transform: rotate(-10deg);
		padding-left: 12px;
		text-align: center;
		@media screen and (max-width: 360px){
			padding-top: 20%;
			font-size: 38px;
		}
	}
}
.crossed-content-black {
	background: url(../images/crossed-bg-black.png);
	background-size: 100% 100%;
	display: inline-block;
	padding: 0 10px;
}
.benifits-list{
	list-style-image: url(../images/benefit-point.png);
	li{
		list-style: inherit !important;
		line-height: 1.8;
		a{
			color: #000;
		}
	}
}
.free-pro-rotated{
	width: 250px;
	background-color: rgb(142, 194, 32);
	color: rgb(255, 255, 255);
	text-align: center;
	box-shadow: rgb(106, 157, 32) 2px 2px 2px;
	transform: rotate(-10deg);
	margin: 43px auto 0px;
	padding: 5px 0px;
	border-radius: 3px;
	margin-bottom: 15px;
	h3{
		margin: 0;
		font-weight: bold;
	}
	h6{
		margin: 0;
	}
}

.mock-free-offer .padding-popup-one {
	padding: 0;
	width: 100%;
	float: left;
	.mock-free-img {
		margin: 0 auto;
		width: 93%;
		float: none;
		.label {
			width: 160px !important;
			float: none !important;
			img{
				max-width: 100%;
			}
		}
	}
}
.share-long-button-special{
	margin: 0;
	.social-long-btn{
		margin: 10px 0;
		margin-right: 15px;
	}
}
.hoapa-offer-modal-continue-btn{
	float: right;
	width: 20%;
	font-size: 21px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 16px 0;
	color: #ffffff;
	border: none;
	outline: none;
	background-color: #ff7519;
	border-radius: 5px;
	background-clip: padding-box;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}
.hoapa-offer-modal-cancel-btn {
	margin-top: 12px;
	margin-right: 15px;
	float: right;
	color: #777777 !important;
	@media screen and (max-width: 767px){
		width: 100%;
		margin-right: 0;
	}
}
.color-link{
	color: #3b5999;
}
.hoapa-bordered-div{
	border: 2px solid #c3c3c5;
	border-radius: 3px;
	width: 100%;
	margin: 20px auto;
	padding: 9px;

}
.no-margin{
	margin: 0;
}

// Qoute now modal
.flex-v-center{
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px){
		display: block;
	}
}
.modal-ad-detail{

}
.purple-tagline{
	position: relative;
	background-color: #8131b8;
	padding: 3px 10px;
	font-size: 20px;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 0;
	margin-bottom: 3px;
	display: block;
	margin-left: 40px;
	font-weight: normal;
}
.popup-checkbox{
	display: block;
	padding: 0;
	label input[type="checkbox"] + span::before {
		position: absolute;
	}
	label{
		display: block;
	}
	.d-Block{
		display: block !important;
	}
}
.payment-info-container{
	margin: 20px auto;
	.profile-tagline {
		margin: 8px auto;
	}
}
.popup-dropdown{
	.bs-caret{
		display: none !important;
	}
}
.payment-cards{
	margin-bottom: 5px;
	@media screen and (max-width: 767px){
		margin-bottom: 25px;
	}
}
.qoutes-popup-cta{
	margin-top: 15px;
}
.checkbox-margin{
	margin-bottom: 15px;
}
.qoutes-popup-cta{
	@media screen and (max-width: 767px){
		margin-top: 15px;
	}
}
.checkbox-margin-xs{
	@media screen and (max-width: 767px){
		margin-bottom: 15px;
	}
}
.card-number-holder{
	clear: both;
	>input{
		padding-right: 65px;
	}
	position: relative;
	.card-image{
		position: absolute;
		right: 0;
		top: 0;
		height: 40px;
	}
}
.doller-sign-input{
	width: 84px;
}
.has-images-fullwidth{
	img{
		width: 100%;
		box-shadow: 1px 2px 7px;
		border-radius: 3px;
	}
}
.feedback-section{
	margin: 20px auto;
	label{
		font-weight: normal;
		padding: 4px;
		margin: 0;
		margin-top: -10px;
		margin-bottom: 15px;
		@media screen and (max-width: 767px){
			width: auto !important;
			float: none !important;
		}
		&:hover{
			background-color: #a1ca3f;
			cursor: pointer;
			color: #fff;
		}
	}
	.icon-bx{
		@media screen and (max-width: 767px){
			text-align: center !important;
		}	
	}
	@media screen and (max-width: 767px){
		text-align: center;
	}
}
input:focus::-webkit-input-placeholder {color: #A09E9E}
input:focus::-moz-placeholder          {color: #A09E9E}
input:focus:-moz-placeholder           {color: #A09E9E}
input:focus:-ms-input-placeholder      {color: #A09E9E}

.t10{
	top:10px;
}
.pb0{
	padding-bottom:0;
}
.checkboxLbl{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.white {
    color: #fff;
}
.black {
    color: #000!important;
}
.mt20{
	margin-top:20px;
}
.padd0{
	padding:0;
}
.warningTxt {
    color: #b51212;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.mtb20 {
    margin: 20px 0;
}
.standardLbl {
    margin: 20px 0 10px;
    font-weight: normal;
    font-size: 20px;
    width:100%;
}
.font13 {
    font-size: 13px;
}
.text-bold{
	font-weight:700
}
.circleFlash {
    display: inline-block;
    background: #FFEB3B;
    position: absolute;
    color: #000;
    font-size: 11px;
    padding: 7px 0px;
    padding: 14px 0px;
    line-height: 14px;
    border-radius: 50%;
    bottom: 0;
    width: 60px;
    height: 60px;
    right: 5px;
    font-weight: 500;
    sup,sub {
	    font-size: 11px;
	}
	sub{
	    bottom: -0.17em;
	}
}
.discountLbl {
    display: inline-block;
    padding: 0px 20px;
    background: #ffeb3b;
    /* line-height: 50px; */
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 5px;
    span {
	    font-size: 30px;
	    display: inline-block;
	    padding-left: 10px;
	    position: relative;
	    vertical-align: bottom;
	}
}

.flashBtn {
    position: relative;
    padding-right:75px!important;
}
.green{
	color: #8ec220;
}
.standardInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 3px;
}
.cardIcon{
    background: url(../images/CreditCardIcon.png) no-repeat 101% center;
}
.customDropdown{
	.btn-default {
	    background: #ededed;
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ededed), color-stop(53%, #f6f6f6), color-stop(100%, white));
	    background: -webkit-linear-gradient(top, #ededed 0%, #f6f6f6 53%, white 100%);
	    background: linear-gradient(to bottom, #ededed 0%, #f6f6f6 53%, white 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
	    padding: 10px 50px;
	    width: auto;
	    border-radius: 4px 0 0 4px;
	    &:not(.btn-smart) {
		    padding: 10px;
		    border: 1px solid #cccccc;
		    border-radius: 0 4px 4px 0;
		}
	}
}
.footerTxt {
    color: #717171;
    font-weight: bold;
    font-size: 13px;
}
.md-close{
    font-size: 30px;
    position: absolute;
    right: 15px;
    color: #747474;
    cursor: pointer;
    top: 10px;
}
.paymentDetails{
	display:none
}