.hoapa-profile-header
{
    overflow: hidden;

    border-radius: 3px;
    .profile-one
    {
        .cover-profile
        {
            border-top: 0;
        }
    }
    .upload-picture-set-responsive
    {
        position: relative;
    }
    .profile-picture
    {
        width: 222px;
        height: auto;
        margin-top: -230px;
        margin-left: 40px;
        padding: 3px;

        border: 1px solid #929689;
        @media screen and (max-width: 992px)
        {
            width: 157px;
            height: 188px;
            margin-top: -145px;
            margin-left: 25px;
            padding: 3px;

            border: 1px solid #929689;
            img
            {
                max-height: 100%;
            }
        }
        @media screen and (max-width: 767px)
        {
            position: absolute;

            width: 168px;
            height: 200px;
            margin-top: -201px;
        }
        @media screen and (max-width: 568px)
        {
            position: absolute;

            width: 100px;
            height: 118px;
            margin-top: -119px;
            margin-left: 0;
        }
    }
    .profile-name
    {
        font-size: 24px;
        font-weight: bold;

        position: absolute;
        bottom: 60px;
        left: 89%;

        color: #fff;
        text-shadow: 0 1px 0 #000;
        @media screen and (max-width: 992px)
        {
            bottom: 55px;
            left: 85%;
        }
        @media screen and (max-width: 767px)
        {
            font-size: 24px;
            font-weight: bold;

            position: absolute;
            top: 160px;
            left: 89%;
            left: 180px;

            color: #fff;
            text-shadow: 0 1px 0 #000;
        }
        @media screen and (max-width: 568px)
        {
            top: -40px;
            left: 103px;
        }
    }
    .mobile-tabbed-menu
    {
        text-align: center;
        li
        {
            position: relative;

            display: inline-block;

            padding: 0 10px;
            @media screen and (max-width: 480px)
            {
                padding: 0;
            }
            a
            {
                font-size: 21px;
                font-weight: normal;

                padding: 15px 10px;

                color: #3d3d3d;
                border-radius: 0;
                &:hover,
                &:active
                {
                    background-color: transparent;
                }
                @media screen and (min-width: 992px)
                {
                    padding: 15px 25px;
                }
                @media screen and (max-width: 480px)
                {
                    font-size: 19px;
                    font-weight: normal;

                    padding: 15px 8px;

                    color: #3d3d3d;
                    border-radius: 0;
                }
            }
        }
        @media screen and (max-width: 480px)
        {
            text-align: left;
        }
    }
}



.profile-body
{
    .user-detail
    {
        margin: 5px 0;
        margin-bottom: 1px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        min-height: 188px;
        border-radius: 3px;
        background-color: #fff;
        .user-name
        {
            font-size: 22px;
        }
        .media
        {
            &:first-child
            {
                margin-top: 15px;
            }
            .media-heading
            {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 767px)
        {
            margin-left: 0;
        }
        &#gallery-user{
            height: 295px;
        }
        &#projects-user{
            height: auto;
        }
        &#about-user{
            min-height: 320px;
        } 
        &#reviews-box{
            height: auto;
        }
        &#projects-user-mobile{
            height: auto;
        }
        &.about-empty
        {
            min-height: 319px;
        }
    }
    .share-buttons
    {
        margin: 5px 0;
        margin-bottom: 1px;
        margin-left: 5px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;

        border-radius: 3px;
        background-color: #fff;
        .btn-green
        {
            @media screen and (min-width: 768px)
            {
                width: 235px;
            }
            @media screen and (max-width: 480px)
            {
                width: 236px;
            }
        }
        @media screen and (min-width: 768px)
        {
            min-height: 188px;
            &.project-area
            {
                min-height: 320px;
            }
        }
        @media screen and (max-width: 767px)
        {
            margin-left: 0;
        }
    }
    .btn-link
    {
        @media screen and (max-width: 767px)
        {
            float: right;
        }
    }
    .readmore-link.about
    {
        display: block;

        text-align: right;
    }
}
.mobile-flex-reverce-stacked
{
    @media screen and (max-width: 767px)
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-direction: column-reverse;

        margin-left: 0;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        .btn-green
        {
            background-color: #ff7519;
        }
    }
}

@media screen and (max-width: 767px)
{
    .reviews-section
    {
        .media
        {
            position: relative;

            display: block;

            vertical-align: top;
        }
        .media-left
        {
            display: block;
        }
        .media-body
        {
            width: auto;
            h3.media-heading
            {
                position: absolute;
                top: 0;
                left: 95px;
            }
            div.status
            {
                position: absolute;
                top: 25px;
                left: 95px;
                @media screen and (max-width: 470px)
                {
                    font-size: 13px;
                }
            }
        }
    }
}
