body{
	@media screen and (max-width: 600px){
		background-color: #fff;
	}
	// It's here because the 2nd level nesting of the same class in in conflict with this
	.alert-class{
		color: #d00404 !important;
	}
}
.hoapa-profile-edit{
	clear: both;
	width: 100%;
	float: left;
	background: #696363;
	border: 1px solid #929689;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.edit-profile-picture{
	width: 207px;
	height: 248px;
	position: absolute;
	top: 154px;
	left: 55px;
	border: 1px solid #929689;
	z-index: 1;
	@media screen and (max-width: 992px){
		top: -1px;
		height: 247px;
	}
	@media screen and (max-width: 767px){
		top: 5px;
		height: 173px;
		width: 148px;
		left: 20px;
	}
	@media screen and (max-width: 400px){
		height: 173px;
		width: 132px;
		left: 5px;
	}
}

.hoapa-profile-edit-body{
	clear: both;
	label{
		font-size: 18.43px;
		margin-top: 13px;
		margin-bottom: 10px;
		font-weight: normal;
		@media screen and (max-width: 767px){
			font-size: 23.7px !important;
		}
	}
}

.pull-right-lg{
	@media screen and (min-width: 768px){
		float: right;
	}
}
.padding-right-35-lg{
	@media screen and (min-width: 992px){
		padding-right: 35px;
	}
}
.parent-spacing{
	@media screen and (min-width: 992px){
		padding-top: 175px;
		padding-left: 55px;
		padding-right: 50px;
	}
}
.hoapa-profile-edit-right{
	padding-top: 35px;

	.profile-tagline, .about, .user{
		margin-bottom: 25px;
	}
}
.no-margin-left{
	margin-left: 0;
	&.full-width{
		width: 100% !important;
	}
}

.edit-characters-counter{
	display: block;
	text-align: right;

	&-top{
		display: block;
		text-align: right;
		margin-top: -25px;
		@media screen and (max-width: 767px){
			float: right;
			font-size: 14.81px;
			margin-top: -19px;
		}
	}
}
.btn-info {
	color: #000;
	background-color: transparent;
	border-color: #fff;
	&:hover, &:active, &.active, &:focus{
		color: #000;
		background-color: transparent;
		border-color: #fff;
	}
}
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus {
	color: #000;
	background-color: transparent;
	border-color: #fff;
}

.open > .btn-info.dropdown-toggle {
	color: #000 !important;
	background-color: transparent !important;
	border-color: #fff !important;
	box-shadow: none;
}
.subject-btn{
	border-radius: 5px;
	background-size: 42px 100% !important;
	padding: 2px 0;
	height: 40px;
}

.location{
	.bs-caret{
		display: none;
	}
}

.edit-profile-save-button{
	width: 47%;
	padding: 12px 40px 16px;
	border: none;
	border-radius: 5px;
	font-size: 21px;
	font-weight: 700;
	background: #ff7519;
	color: #fff;
	margin: 15px auto;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}
.border-slider {
	@media (max-width: 767px){
		border: 2px solid #ccc;
	}
}
.cover-profile{
	height: 245px;
	overflow: hidden;
	@media screen and (min-width: 768px) and (max-width: 992px){
		height: 245px;
	}

	@media screen and (max-width: 767px){
		height: 183px;
	}

	img{
		@media screen and (max-width: 992px){
			width: 942px;
			margin-left: -60px;	
		}
		@media screen and (max-width: 767px){
			width: 620px;
			margin-left: 0;
		}
		@media screen and (max-width: 480px){
			width: 530px;
		}
		@media screen and (max-width: 400px){
			&.visible-xs{
				display: none !important;
			}
			width: 106%;
		}
	}
}
.slick-slider .slick-next::before{
	right: -5px;
}
.background-color-set{
	left: 0;
}
.show-pass{
	text-align: left;
	margin-left: 0;
	@media screen and (max-width: 767px){
		text-align: right;
	}
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: center;
}
.profile-create-dropdown{
	.btn.dropdown-toggle.btn-info{
		padding-right: 55px;
	}
}

@media (max-width: 640px){
	.container .progress-div h1 {
		font-size: 35px;
	}
}
@media (max-width: 480px){
	.container .progress-div h1 {
		font-size: 23.7px;
	}
}
.btn-padd{
	@media screen and (max-width: 767px){
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 767px) and (min-width: 640px){
	.container .progress-div .registertion .progress .sr-only {
		top: 90px;
	}
}

@media screen and (max-width: 767px){
	.container .progress-div .registertion .progress {
		width: 55%;
		margin-bottom: 13px;
	}
}

// Extra styles for progress bar below 320px viewport
@media screen and (max-width: 320px){
	.container .progress-div .registertion .progress {
		width: 75%;
		margin: 0 auto;
	}
	.container .progress-div .registertion p {
		margin: 0 0 10px 0;
		font-size: 22px;
		width: 100%;
		text-align: center;
	}
	.container .progress-div .registertion .progress .sr-only {
		top: 70px;
		width: 50%;
		right: 0;
		font-size: 20px;
		left: 0;
		margin: 0 auto;
	}
}
.gallery-plus-button{
	@media screen and (max-width: 767px){
		margin: 15px 0 !important;
		width: 100% !important;
	}
}
.inline-block-xs{
	display: none;
	@media screen and (max-width: 767px){
		display: inline-block;
	}
}
@media screen and (max-width: 360px){
	.gallery-thumb-input{
		border: 1px solid #c3bcbc;
		border-top: 0;
	}
	.profile-slider .slick-slide {
		display: block;
		width: 130px !important;
	}
}
.placeholder-text-edit-profile {
	margin-left: 8px !important;
}