.navbar {
    overflow: visible;    
    padding: 0;
    .navbar-brand {
        background-size: auto 40px;
        background-position: 0 10px;
    }

}
.navbar-header {
    @media (min-width: 768px) {
        width: 110px;
    }
}
.dropdown-heading{
    padding: 0;
    padding-top: 10px!important;
    @media screen and (max-width: 767px){
        margin-left: -15px;
    }
    ~ li{
        a {
            padding: 7px 10px;
        }
    }
    b{
        @media screen and (max-width: 767px){
            font-weight: 500
        }
    }
}
.messages-dropdown {
    width: 415px;
    background-color: #fff;
    padding:0;
    @media screen and (max-width: 767px){
        width: 99vw;
        left: 0;
        top: 75px;
        position: absolute;
        margin-top: -2px;
    }
    a {
        padding: 7px 5px!important;
    }
    .dropdown-heading {
        border-bottom: 1px solid #e9eaec;
        padding: 0 10px 10px;
        font-weight:bold;
        @media screen and (max-width: 767px)
        {
            width: 100%;
            margin: 0 0 10px;
        }
    }
    li {
        width: 100%;
        &:not(.dropdown-heading):hover{
            background:#94c435;
            color:#fff;
            .notification-messge{
                color:inherit;
            }
        }
    }
}
.dropdown {
    @media screen and (max-width: 767px){
        position: initial;
    }
}
.open{
    .dropdown-menu{
        display: block!important;
    }
}
.nav-dropdown{
    top: 60px;
    right: 0px!important;
    display: none!important;
    padding: 0;
    @media screen and (max-width: 767px){
        position: static;
        float: none;
        width: auto;
        margin-top: 15px!important;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        margin-left:45px;
        padding-bottom:0;
    }
    a {
        font-size: 15px;
        padding-left: 0!important;
        font-weight:300!important;
        @media screen and (max-width: 767px){
            padding: 7px!important;
        }
    }
    li {
        padding:0 10px;
        &:not(.dropdown-heading):hover{
            background:#94c435;
            color:#fff;
            .pro-text2{
                color:inherit
            }
        }
        @media screen and (max-width: 767px){
            border-bottom: 1px solid #edf1e5;
        }
    }
    *:not(.pro-text2) {
        @media screen and (max-width: 767px){
            font-size: 21px  !important;
            font-weight: 300;
        }
    }
}
.you-have-contacts {
    @media screen and (max-width: 767px){
        display: block;
        font-size: 14px!important;
        padding:10px 0 0 !important;
    }
}

.notification-icons {
    display: none;
    padding: 0;
    margin: 23px 0 0;
    float: right;
    li {
        margin-right: 15px;
        display: inline-block;
    }
    @media screen and (max-width: 767px){
        display: inline-block;
    }
}
.notification-profile-img {
    float: left;
    max-width: 31px;
    margin-right: 5px;
}
.notification-profile-name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 6px;
}
.notification-messge {
    font-size: 14px;
    color: #a6a6a6;
    white-space: nowrap;
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-nav {
    > li:not(.no-borders) {
        height: 61px;
        @media (max-width: 767px) {
            min-height: 50px;
            border-bottom: 1px solid #edf1e5;
            padding: 0 30px;
            height:auto;
            padding-top: 12px;
        }
    }
    > li {
        @media (min-width: 768px) {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    }
    i:not(.icon) {
        font-size: 15px;
        @media (max-width: 767px) {
            font-size: 18px;
            float: right;
            margin-bottom: 10px;
        }
    }
    a:not(.btn) {
        font-weight: 300;
        color: inherit;
        font-size: 20px;
        @media (max-width: 991px) {
            font-size: 16px;
            font-weight: 500;
            padding: 11px 8px;
        }
        @media screen and (max-width: 767px){
            font-size: 21px  !important;
            padding: 0;
        }
    }
    .btn {
        font-size: 20px;
        font-weight: 700;
        margin-top: -10px;
        @media (max-width: 991px) {
                font-size: 15px!important;
                min-width: initial;
                font-weight: 500 !important;
                padding: 0 10px!important;
                line-height: 40px;
        }
        @media (max-width: 767px) {
            width: 90%!important;
            margin: 0 auto!important;
            display: block;
            margin-bottom: 10px!important;
            padding: 9px 20px;
            font-size: 20px!important;
            font-weight: 700!important;
            margin-top: 9px!important;
            border-radius: 3px;
        }
    }
    .dropdown{
        @media (min-width: 767px) {
            &:hover{
                .nav-dropdown,.messages-dropdown{
                    display: block!important;
                    top:60px
                }
            }
        }
    }
}
.paddTop0 {
    padding-top: 0!important;
}
.bell-icon {
    height: 25px;
    width: 21px;
    background: url(../images/bell-bordered.png) no-repeat;
    background-size: contain;
    display: inline-block;
}
.caret-icon {
    display: inline-block;
    width: 8px;
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    background: url(../images/caret.png) no-repeat;
    background-size: 100%;
}
#js-join-button, #js-login-button {
    color: #333;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 300;
    padding: 9px 14px;
    @media (max-width: 991px) {
        font-size:16px;
        font-weight: 400;
    }
    @media (max-width: 767px) {
        font-size: 21px;
        padding: 0;
    }
}
i.icon {
    color: #9e9e9e;
    font-size: 27px;
    margin-top: -4px;
    position: relative;

    &:after {
        content: " ";
        width: 10px;
        height: 10px;
        background: #df0303;
        position: absolute;
        border-radius: 50%;
        top: 1px;
        right: -1px;
        border: 2px solid #fff;
    }
}
a {
    color: #999999;
    font-weight: 300;
}

.mbot100 {
    margin-bottom: 100px;
}

.featruesSection {
    color: #999999;
    font-weight: 600;
}

.featuresTable {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    float: right;
}

.featureTable-heading {
    background: #94c435;
    margin: 0;
    padding: 50px 0;
    color: #fff;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0px;
    @media (max-width: 767px) {
        padding: 20px 0;
    }
}

.featureTable-small {
    color: inherit;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tabless {
    margin-bottom: 30px;
}

.rowStyle {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.itemStyle {
    margin-bottom: 50px;
    font-weight: 600;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    padding-right: 20px;
    text-align: right;
    width: 50%;
    display: table-cell;
    padding-bottom: 50px;
    @media (max-width: 767px) {
        font-size: 17px;
        line-height: 18px;
        padding-bottom: 30px;
    }
}

.rowStyle:first-child {
    > * {
        padding-top: 50px;
        @media (max-width: 767px) {
            padding-top: 30px;
        }
    }
}

.markSTyle {
    width: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #d0cece;
    padding-bottom: 50px;
    border-bottom: 0;
    border-top: 0;
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
}

.rowStyle:last-child {
    .markSTyle {
        border-bottom: 1px solid #d0cece;
        border-radius: 0 0 4px 4px;
    }
}
.input-group-button {
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.copyBtn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

footer {
    background: url(../images/footer/footer-back.png) repeat-x center 60px;
    &:before {
        background: url(../images/footer/sun.svg) no-repeat;
        @media (max-width: 767px) {
            width: 80%;
            height: 80%;
            background-size: 100%;
            left: 0;
            right: 0;
            top: 60px;
            z-index: -1;
            margin: 0 auto;
        }
    }
    @media (max-width: 600px) {
        margin-top: 0px;
        background: url(../images/footer/footer-back-m.png) no-repeat center 60px;
        background-size: 100%;
        background-position-x: center;
        background-repeat: repeat-x;
    }
}
.custom-padding{    
    @media (max-width: 767px) {
        padding: 5px 10px;
        margin: 0;
    }
}
.twoColumns{
    td{
        @media (max-width: 767px) {
            width: 50%;
            padding: 10px 0!important;
        }
    }
}
.hoapa-nav-tabs-navigation{
    .hoapa-nav-next{
        @media (max-width: 767px) {
            right: 10px;
        }
    }
    .hoapa-nav-prev{
        @media (max-width: 767px) {
            left: 10px;
        }
    }
}
#bs-example-navbar-collapse-1 {
    @media (max-width: 767px) {
        position: absolute;
        background: #f6ffe3;
        width: 100%;
        border-bottom: 1px solid #99c63b;
        padding:0
    }
}
.AdSection {
    @media (max-width: 991px) {
        margin-top: 30px;
        padding: 0;
    }
}
#social-icons {
    img {
        @media (max-width: 991px) {
            margin: 0 !important;
        }
    }
}
.navbar-collapse.collapse {
    @media (min-width: 768px) {
        width: 84%;
    }
}

    


