#mobile-filter{
	padding: 0;
	margin-top: 20px;
	/* background: #fff; */
	background: #fff url("../images/bg-selectdwn.png") no-repeat right top;
	border: 2px solid #ccc;
	
	>a{
		width: 100%;
		display: block;
		padding: 6px;
		img{
			max-width: 40px;
		}

	} 


	> .dropdown-menu{
		width:100%;
		position: relative;
		a{ 
			width: 100%;
			padding: 6px;
			float: left;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			background: transparent;
			&:last-of-type{
				border-bottom: 0;
			}
			&:first-of-type{
				border-top:0;
			}
		}
	}
}

@media (max-width: 767px){
	.container .contact-phase .main-padding .row .col-lg-12 .dashboard-profilepic {
		width: 665px;
		float: left;
		margin-top: -90px;
		margin-bottom: 43px;
		text-align: center;
		height: 260px;
		position: absolute;
		top: -110px;
		left: -230px;
	}
	.project-page-wrapper .right-column .white-box ul{
		margin-top: 35px;
	}
	.container .contact-phase .padding-match .newsfeed-div .full-width {
    width: 100% !important;
    display: flex;
    flex-direction: column-reverse;
}
}

@media (max-width: 568px){
	.container .contact-phase .main-padding .row .col-lg-12 .dashboard-profilepic {
		margin-top: 0;
		left: 5px;
		top: -5px;
	}
	.container .contact-phase .main-padding .row .col-lg-12 .profile-picture{
		padding: 1px;
	}
	.container .profile-one .cover-profile{
		background: none;
	}
	body .dashboard-news .container .contact-phase .main-padding .row .upload-picture-set-responsive {
    margin-top: -113px !important;
}
body .dashboard-news .container .contact-phase .main-padding .row .profile-picture.dashboard-border-0 {
    width: 98.8px !important;
}
.background-color-set{
	display: none;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container .contact-phase .padding-match .newsfeed-div .SimonVanMeervene{
		width: 77%;
	}

	.container .contact-phase .main-padding .row .col-lg-12 .dashboard-profilepic {
		width: 100%;
		float: left;
		margin-top: -100px;
		margin-bottom: 43px;
		text-align: center;
		height: 260px;
		position: relative;
		right: 0;
		top: 0;
	}

}
