// Footer all default styles no media query
footer {
	position: relative;
	&:before {
		background: url(../images/sun.png) no-repeat;
		display: block;
		content: '';
		position: absolute;
	}
	&:after {
		background: url(../images/footer/birds.svg) no-repeat;
		display: block;
		content: '';
		position: absolute;
	}
	ul.nav li {
		list-style: none;
		a {
			color: #fff;
			display: inline-block;
			position: relative;
			.fa {
				font-size: 24px;
				margin-left: 7px;
			}
			.fa-sort-asc:before {
				content: "\f0de";
				position: absolute;
				top: 9px;
			}
			&:before {
				content: '';
				background: #fff;
				position: absolute;
			}
			&:hover {
				text-decoration: none;
				background: transparent;
				color: #fff;
			}
			&:focus {
				text-decoration: none;
				background: transparent;
			}
		}
	}
	hr {
		border-color: #b5d74f;
	}
	.about-drop-down {
		word-wrap: break-word;
		color: #fefffd;
		font-size: 16px;
		text-align: justify;
		line-height: 28px;
		padding: 0 218px 0 0;
	}
	.social-icons li {
		float: none;
		display: inline-block;
		list-style: none;
		a {
			margin-top: 8px;
			display: inline-block;
			width: 100%;
			color: #fff;
			transition: .5s;
			img {
				border-radius: 5px;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
			&.icon-google:hover {
				color: #dd4b39;
			}
			&.icon-twitter:hover {
				color: #55acee;
			}
			&.icon-facebook:hover {
				color: #3b5998;
			}
		}
	}
	h3, p {
		color: #fff;
	}
}

// ================
.sub-footer {
	padding: 450px 0 20px 0;
}

// Footer all default styles no media query

/* ============================================================= Media Break ============================================================= */
@media (min-width: 1200px) {
	// ================
	footer {
		background:url(../images/footer/footer-back.png) repeat-x center 50px;
		background-size: 1365px 1630px;
		margin-top: 20px;
		&:before {
			width:459px;
			height:459px;
			left:0;
			right:0;
			top:0;
			z-index:-1;
			margin:0 auto;
			background: url("../images/footer/sun.svg") no-repeat;
			display: block;
			content: '';
			position: absolute;
		}
		&:after {
			width:232px;
			height:153px;
			right:22%;
			top:10%;
			background: url("../images/footer/birds.svg") no-repeat;
			display: block;
			content: '';
			position: absolute;
		}
		h3 {
			font-weight:300;
			font-size:32px;
		}
		ul.nav {
			margin:0 0 30px;
			padding:0;
			li a {
				font-size:16px;
				padding:5px 0;
				&:before {
					width:0;
					height:2px;
					bottom:0;
					left:0;
					right:0;
					margin:0 auto;
				}
				&:hover:before {
					width:100%;
				}
			}
		}
		.social-icons {
			text-align:right;
			margin:0;
			padding:0;
			li {
				margin:0 0 0 36px;
				&:first-child {
					margin:0;
				}
			}
		}
	}
	// ================
	.sub-footer {
		padding: 450px 0 20px 0;
	}
}


/* ============================================================= Media Break ============================================================= */
@media (max-width: 1199px) and (min-width: 992px){
	footer {
		background: url(../images/footer/footer-back.png) repeat-x center 50px;
		background-size: 1365px 1630px;
		&:before {
			width: 459px;
			height: 459px;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			margin: 0 auto;
		}
		&:after {
			width: 232px;
			height: 153px;
			right: 22%;
			top: 10%;
		}
		h3 {
			font-weight: 300;
			font-size: 32px;
		}
		ul.nav {
			margin: 0 0 50px;
			padding: 0;
			li a {
				font-size: 16px;
				padding: 5px 0;
				&:before {
					width: 0;
					height: 2px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				&:hover:before {
					width: 100%;
				}
			}
		}
		.social-icons {
			margin: 0;
			padding: 0;
			li {
				margin: 0 0 0 35px;
			}
		}
	}
}

/* ============================================================= Media Break ============================================================= */
@media (max-width: 991px) and (min-width: 768px){
	footer {
		background: url(../images/footer-back.png) repeat-x center 60px;
		width: 100%;
		clear: both;
		&:before {
			width: 459px;
			height: 459px;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			margin: 0 auto;
		}
		&:after {
			width: 232px;
			height: 153px;
			right: 22%;
			top: 10%;
		}
		h3 {
			font-weight: 300;
			font-size: 32px;
		}
		ul.nav {
			margin: 0 0 50px;
			padding: 0;
			li a {
				font-size: 16px;
				padding: 5px 0;
				&:before {
					width: 0;
					height: 2px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				&:hover:before {
					width: 100%;
				}
			}
		}
		.social-icons {
			margin: 0;
			padding: 0;
			li {
				margin: 0 5px;
			}
		}
	}	
}

/* ============================================================= Media Break ============================================================= */
@media (max-width: 767px){
	.container .contact-phase .row .col-lg-12 .contact-hoapa .spacing-control .button-container button.save-button{
		width: 100%;
	}
	footer {
		background: url(../images/footer/footer-back.png) repeat-x center 60px;
		background-size: 1365px 1630px;
		&:before {
			width: 80%;
			height: 80%;
			background-size: 100%;
			left: 0;
			right: 0;
			top: 60px;
			z-index: -1;
			margin: 0 auto;
		}
		&:after {
			width: 232px;
			height: 153px;
			right: 0;
			top: 10%;
		}
		h3 {
			font-weight: 300;
			font-size: 32px;
		}
		ul.nav {
			line-height: 28px;
			margin: 0 0 50px;
			padding: 0;
			li a {
				font-size: 20px;
				padding: 5px 0;
				&:before {
					width: 0;
					height: 1px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				&:hover:before {
					width: 100%;
				}
			}
		}
		.social-icons {
			margin: 0;
			padding: 0;
			li {
				margin: 0 5px;
				a {
					font-size: 70px;
					display: block;
					height: 90px;
				}
			}
		}
	}
	footer {
		text-align: center !important;
		.social-icons li a img {
		}
		ul.hide-nav-footer {
			height: 0;
			overflow: hidden;
			transition: 1s;
			margin: 0;
		}
		.about-drop-down {
			word-wrap: normal;
			text-align: left;
			line-height: 24px;
			padding: 0;
			p a {
				color: #9ad8f4;
			}
		}
		ul.nav li a .fa-sort-asc:before {
			top: 15px !important;
		}
	}

	// ======================
	.container .contact-phase .background-color-set {
		width: 100%;
		right: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
	}
}


/* ============================================================= Media Break ============================================================= */
@media (max-width: 600px){
	footer {
		margin-top: 60px;
		background: url(../images/footer/footer-back-m.png) no-repeat center 60px;
		background-size: 100%;
		background-position-x: center;
		background-repeat: repeat-x;
		&::after {
			right: -14%;
			top: 90px;
		}
		&::before {
			display: none;
			top: 0; 
			width: 90%;
		}
	}
}

/* ============================================================= Media Break ============================================================= */
@media (max-width: 360px){
	.flexbox {
		footer {
			background: url(../images/footer/footer-back-m2.svg) no-repeat center 60px;
			background-size: 359px 1630px;
			padding: 0 0 20px;
			&::after {
				right: -40%;
				top: 6%;
			}
			&::before {
				display: block;
				width: 90%;
				height: 90%;
				top: 50px;
			}
			.sub-footer {
				padding: 300px 0 20px;
			}
		}
		.padding-bottom-405 {
			.profile-header {
				height: 117px;
			}
			.profile-pic .media .media-left img {
				width: 104px !important;
			}
		}
	}
}






































// .background-color-set{
// 	width: 100%;
// 	float: left;
// 	height: 500px;
// 	background: #ffffff;
// 	position: relative;
// 	z-index: -1;
// 	@media (max-width: 767px){
// 		display: none;
// 	}
// }
// .decent-footer{
// 	background-image: url("../images/footer-skyline.svg"), url("../images/footer-sun-with-birds.svg");
// 	display: block;
// 	position: relative;
// 	margin-bottom: -2px;
// 	background-repeat: repeat-x, no-repeat;
// 	background-position: bottom center, 58% -109px;
// 	width: 100%;
// 	background-size: contain , 700px;
// 	height: 465px;
// 	@media (max-width: 1500px){
// 		background-size: cover, 700px;
// 	}
// 	@media(max-width: 1024px){
// 		margin-bottom: -70px;
// 	}

// 	@media (max-width: 658px){
// 		background-position: bottom center, 0 -109px;
// 		margin-bottom: -70px;

// 	}
// 	@media (max-width: 480px) {

// 	}
// }


// .my-footer {
// 	background-image: url("../images/footer/CompleteFooterBG.svg");
// 	padding-top: 500px;
// 	background-repeat: no-repeat;
// 	background-size: 100%;
// 	background-position: top center;
// 	position: relative;
// 	margin-top: -500px;
// 	clear: both;
// 	float: left;
// 	width: 100%;

// 	@media (min-width: 1900px){
// 		padding-top: 28%;
// 	}
// 	@media(max-width: 1560px){
// 		padding-top: 32%;
// 	}
// 	@media (min-width: 992px) and (max-width: 1199px) {

// 	}

// 	@media (min-width: 768px) and (max-width: 991px) {
// 		background: url("../images/footer/CompleteFooterBG-tablet.svg");
// 		background-repeat: repeat-x;
// 		padding-top: 0;
// 	    background-size: cover;
// 	    background-position: top center;
//         padding-top: 300px;
//         min-height: 580px;
// 	}

// 	@media (max-width: 767px){
// 			background: none;
// 			margin-top: 0;
// 		    position: absolute;
// 		    width: 100%;
// 	}

// 	@media (max-width: 568px){
// 		background: url("../images/footer/CompleteFooterBG-tablet-portrait.svg") no-repeat center 60px;
// 		padding-top: 0;
// 		margin-top: 0;
// 		 background-size: cover;
// 	    background-position: top center;

// 	}

// 	@media (max-width: 480px){
// 		background: url("../images/footer/CompleteFooterBG.svg") no-repeat center 60px;
// 		padding-top: 0;
// 		margin-top: 0;
//         background-size: 1250px 2400px;
// 	}




// 	.sub-footer{

// 		@media (max-width: 1560px){
// 		}
// 		@media (max-width: 767px){
// 		    // padding-top: 32%;
// 		    background: green;
// 		    clear: both;
// 		}
// 		@media (max-width: 568px){
// 			background-color: transparent;
// 			padding-top: 340px;
// 		}
// 	}
// 	.neg-margin{
// 		margin-top: -50px;
// 	}
// }