.chat-bubble {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  border: 1px solid #94c435;
  margin-right: 10px;
  border-bottom: 0;
  border-top: 0;
  height: 360px;
  width: 285px;
}

.chat-bubble.minimized {
  height: 40px;
}

.chat-bubble.minimized .chat-input {
  display: none;
}

.chat-bubble .chat-bubble-header {
  border-radius: 0;
  background-color: #94c435;
  cursor: pointer;
}

.chat-bubble .online-status {
  display: inline-block;
  width: 30px;
  height: 49px;
  background: #3e4141;
  text-align: center;
  padding: 16px 0;
  margin-top: -4px;
  vertical-align: top;
}

.chat-bubble .online-status .fa {
  color: #9a9a9c;
  font-size: 15px;
}

.chat-bubble .online-status.active .fa {
  color: #94c435;
}

.chat-bubble .close-chat {
  font-size: 21px;
  font-style: normal;
  line-height: 22px;
  color: #999999;
  position: absolute;
  top: 12px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}

.chat-bubble .chat-title-container {
  width: 220px;
  overflow: hidden;
  display: inline-block;
}

.chat-bubble .chat-title-container a {
  color: #fff;
  margin-bottom: -4px;
}

.chat-bubble .chat-title {
  font-size: 14px;
  font-weight: bold;
  width: auto;
  display: inline-block;
}

.chat-bubble .job-title {
  width: auto;
  display: inline-block;
  font-size: 12px;
}

.chat-bubble .job-title a {
  color: #fff;
}

.chat-bubble .hoapa-chat-area {
  height: 278px;
  width: 285px;
}

.chat-bubble .chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.chat-bubble .hoapa-chat-received {
  font-size: 14px;
}

.chat-bubble .hoapa-chat-sent {
  font-size: 14px;
}

.upload-paperclip {
  outline: 0;
  position: relative;
  overflow: hidden;
  text-align: left;
  font-size: 21px;
  font-family: "Open Sans",sans-serif;
  background: 0 0;
  border: none;
  display: inline-block;
  top: 7px;
  width: 25px;
  cursor: pointer;
}

.upload-paperclip .fa {
  color: #9a9a9c;
  font-size: 25px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.upload-paperclip input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: 0;
  background: #fff;
  cursor: pointer;
  display: inline-block;
}

.chat-bubble-upload {
  position: absolute;
  left: 10px;
}

.form-control.chat-textfield {
  padding-left: 40px;
  font-size: 14px;
  color: #000;
  resize: none;
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
  border-color: #ccc !important;
  resize: none;
  overflow: hidden;
  height: 38px;
  min-height: 38px;
  max-height: 100px;
}

.chat-avatar {
  position: absolute;
  left: -37px;
  width: 35px;
  max-height: 50px;
  bottom: 0;
}

.hoapa-chat-typing .chat-avatar {
  opacity: 0.3;
  top: 0;
  bottom: auto;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

/* IE11 (if it doesn't work, try maybe also on the parent/wrapper) */
input[type=file] {
  cursor: pointer;
}
